<a href="https://colab.research.google.com/github/lizsantacruz/retail-sales-analysis-/blob/main/retail_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Proyecto I- Parte 3/retail_sales_dataset.csv')

In [ ]:
df.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [ ]:
#Esta seria la forma de agrefar una nueva columna, en este caso ya tenemos la columna del total de ventas por lo que no veo motivos para añadir una nueva
#df['Columnna_Nueva'] = df['Etiqueta1'] * df['Etiqueta2']

In [ ]:
categoria=df.groupby('Product Category')
cantidad= categoria['Quantity'].sum()
cantidad

Product Category
Beauty         771
Clothing       894
Electronics    849
Name: Quantity, dtype: int64

In [ ]:
max_value = df['Total Amount'].max()
min_value = df['Total Amount'].min()
df['Total_Amount_normalizado'] = df['Total Amount'].apply(lambda x: (x - min_value) / (max_value - min_value))
df

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,Total_Amount_normalizado
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150,0.063291
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000,0.493671
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30,0.002532
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500,0.240506
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100,0.037975
...,...,...,...,...,...,...,...,...,...,...
995,996,2023-05-16,CUST996,Male,62,Clothing,1,50,50,0.012658
996,997,2023-11-17,CUST997,Male,52,Beauty,3,30,90,0.032911
997,998,2023-10-29,CUST998,Female,23,Beauty,4,25,100,0.037975
998,999,2023-12-05,CUST999,Female,36,Electronics,3,50,150,0.063291
999,1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120,0.048101

In [ ]:
mean = df['Total Amount'].mean()
df['Desviacion_media'] = df['Total Amount'].apply(lambda x: np.abs(x - mean_A))
print(df)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Total_Amount_normalizado  MAD_A  \
0           3              50           150                  0.063291  306.0
1           2             500          1000                  0.493671  544.0
2           1              30            30                  0.002532  426.0
3           1             500           500                  0.240506   44.0
4           2              50           100                  0.037975  356.0
..        ...             ...           ...                       ...    ...
995         1              50            50                  0.012658  406.0
996         3              30            90                  0.032911  366.0
997         4              25           100                  0.037975  356.0
998         3              50           150                  0.063291  306.0
999         4              30           120                  0.048101  336.0

       MAD  Desviacion_media
0    306.0             306.0
1    544.0             544.0
2    426.0             426.0
3     44.0              44.0
4    356.0             356.0
..     ...               ...
995  406.0             406.0
996  366.0             366.0
997  356.0             356.0
998  306.0             306.0
999  336.0             336.0

[1000 rows x 13 columns]